<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Reservations • CSN Exam Registration</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/styles.css" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="header__inner">
      <div><strong>My Reservations</strong></div>
      <nav class="header__nav">
        <a href="dashboard">Dashboard</a>
        <a href="logout">Logout</a>
		<span class="user-info">{{ user.first_name }} {{ user.last_name }}</span>
      </nav>
    </div>
  </header>

  <main class="main">

        <section class="card">
      <h2 class="card__title" id="header">Cancel Exam</h2>
  
      <form class="form" id="removeExamForm" action="{{url_for('cancel_exam')}}" method="POST">
        <label class="label" name="temp">Enter ID of exam to be removed:</label>
        <input type="text" name="exam_id" pattern="\d{1,2}" title="Single or double digit ID number" required>

        <div><button type="submit">Submit</button></div>
      </form>
    </section>

    <section class="card">
      <h3 class="card__title">Your Reservations</h3>
            <table border="1">
        <thread>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date/Time</th>
            <th>Location</th>
            <th>Proctor</th>
            <th>Capacity</th>
            <th>Current</th>
          </tr>
        </thread>
        <tbody>
          {% for exam in exams %}
          <tr>
            <td>{{ exam.exam_id }}</td>
            <td>{{ exam.exam_name }}</td>
            <td>{{ exam.exam_datetime }}</td>
            <td>{{ exam.exam_location }}</td>
            <td>{{ exam.exam_proctor }}</td>
            <td>{{ exam.exam_capacity }}</td>
            <td>{{ exam.exam_current }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="7">No exams scheduled.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>

  <footer class="footer">© CSN Testing Center</footer>
</body>
</html>
